@import url("https://fonts.googleapis.com/css?family=Red+Hat+Display:900&display=swap");

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  background: #eeeef5;
}
nav {
  min-width: 150px;
}
.links > li {
  padding: 10%;
  transition: all;
  transition: 0.1s ease-out;
}
ul > li:hover {
  font-size: large;
}
.container {
  display: flex;
  position: relative;
  flex: 1;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.welcome {
  font-size: 8vw;
  line-height: 8vw;
  margin: 0;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
  background: url(https://raw.githubusercontent.com/s1mpson/-/master/codepen/black-lives-matter/victim-collage.png);
  background-size: 40%;
  background-position: 50% 50%;
  -webkit-background-clip: text;
  background-clip: text;
  color: rgba(0, 0, 0, 0.08);
  animation: zoomout 10s ease 500ms forwards;
  animation-iteration-count: infinite;
}

.photosContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-direction: column;
}
.cards {
  display: flex;
  padding: 10px;
  margin: 10px;
  width: 20%;
}
.cardsBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.pagination {
  display: flex;
  flex: 1;
  margin: 20px;
}
@keyframes zoomout {
  from {
    background-size: 40%;
  }
  to {
    background-size: 10%;
  }
}
@media screen and (max-width: 640px) {
  .cardsBox {
    flex-direction: column;
  }
  .cards {
    width: 90%;
  }
}
